# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
secrets.properties

# other
eclipse
run
classes
logs
run-data
gource.sh
.noai
.profileconfig.json
profile.jfr
/.vscode

# test mod jars - users must supply these manually
libs/iris*.jar
libs/sodium*.jar
/.workbuddy
/twilightforest-template-26.1.2
/libs/forgeconfigapiport
